@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-with-opacity: rgba(20, 20, 20, .7);
  --text: #202020;
	--text-light: #ffffff;
  --primary: rgba(145, 0, 255, 1);
  --second: rgb(250, 70, 200);
  --anti-accent: rgb(145, 100, 255); 
  --anti-accent-light: rgb(145, 150, 255); 
  --primary-gradient: linear-gradient(
    4.5deg,
    rgba(245, 116, 185, 1) 14.7%,
    var(--primary) 88.7%
  );
	--z-index-10: 10;
	--z-index-1: 1;
	--z-index-back: -1;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--text);
}

.white {
	color: var(--text-light);
}

.black {
	color: var(--text);
}

.empty-layout {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background: var(--text);
}

.main-layout {
  display: grid;
  grid-template-areas:
    "navbar navbar navbar navbar navbar navbar"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main";

  background-image: var(--primary-gradient);

  min-height: 100vh;
}

.main-layout_not-auth {
  grid-template-areas:
    "navbar navbar navbar navbar navbar navbar"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main";
}

.main-layout__body {
  position: relative;
  grid-area: main;
}

.page {
	padding: 1rem 1.5rem 1rem;
}

.display_none {
  display: none;
}

.icon {
  font-size: 1.5rem;
}
